@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
    url("Fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e9eff;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: #ddd;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

header::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #0f0, #d35, #369, #d35, #0f0);
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: #3a6cf4;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

nav ul li a {
  color: #3a6cf4;
  font-weight: 500;
  padding-right: 30px;
  margin: 20px;
}

nav ul li a:hover {
  color: #601cfc;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(Images/Mandela.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.personal {
  margin: 100px;
}

.main h2 {
  color: #fff;
  font-size: 1.6em;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 1.5em;
}

.main h3 {
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main .button {
  color: white;
  background-color: #3a6cf4;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px 10px 0;
  border-radius: 15px;
  transition: 0.3s;
}

.main .button:hover {
  background-color: #601cfc;
  transform: scale(1.1);
}

.main .social-icons {
  width: 250px;
}

.main .social-icons i {
  padding: 25px 35px 15px 0px;
  font-size: 40px;
  transition: 0.2s ease-in-out;
}

.main .social-icons i:hover {
  transform: rotate(-5deg) translateY(-5px);
}

.social-icons .fa-facebook {
  color: #385898;
}

.social-icons .fa-facebook:hover {
  color: #241dbd;
}

.social-icons .fa-twitter {
  color: #1da1f2;
}

.social-icons .fa-twitter:hover {
  color: #3b88f1;
}

.social-icons .fa-instagram {
  color: #9c0557;
}

.social-icons .fa-instagram:hover {
  color: deeppink;
}

.social-icons .fa-github {
  color: black;
}

.social-icons .fa-github:hover {
  color: white;
}

.social-icons .fa-linkedin {
  color: #0077b5;
}

.social-icons .fa-linkedin:hover {
  color: #122eca;
}

.title {
  font-family: "Metal Mania";
  color: #3a6cf4;
  font-size: 2em;
  text-align: center;
  margin: 30px;
  padding: 100px 0 0;
  letter-spacing: 4px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.card {
  background-color: #fff;
  width: 300px;
  box-shadow: 0px 0px 5px rgba(1 1 1 / 20%);
  border-radius: 10px;
  margin: 15px 20px 30px;
  padding: 25px;
  transition: 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card i {
  color: #3a6cf4;
  font-size: 5em;
  margin-bottom: 30px;
}

.card h3 {
  color: #3a6cf4;
  margin-bottom: 20px;
}

.card p {
  color: #777;
}

.projects {
  background-color: #000;
}

.projects .content {
  margin-top: 30px;
}

.projects .project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 24em;
  overflow: hidden;
  margin: 50px;
  transition: 0.3s ease;
}

.projects .project-card:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.projects .project-card .project-image {
  width: 100%;
}

.projects .project-card .project-image img {
  cursor: pointer;
  width: 100%;
  height: 240px;
  filter: drop-shadow(0px 0px 10px #00f);
}

.project-info {
  padding: 10px;
  margin: 10px;
}

.project-title {
  display: flex;
  justify-content: space-between;
}

.project-category {
  color: #3a6cf4;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.fa-angle-double-right {
  color: #3a6cf4;
  padding-left: 10px;
}

.moreProject {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.moreProject a {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3a6cf4;
}

.contact {
  margin-bottom: 50px;
}

.mail {
  text-align: center;
  font-size: 14px;
}

.up {
  position: fixed;
  right: -40px;
  bottom: 20px;
  background: deepskyblue;
  color: white;
  padding: 7px 9px 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.up.show {
  right: 10px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content {
  padding: 1.5rem;
  font-size: 1.3em;
}

.footer-content span {
  color: #3a6cf4;
}

footer a {
  color: #3a6cf4;
}

@media (max-width: 1200px) {
  header {
    padding: 5px 5px 10px;
  }

  .logo {
    margin: 15px;
  }

  nav ul li a {
    padding-right: 0;
  }

  .projects .project-card {
    margin: 35px;
  }

  .personal {
    margin: 10px;
  }
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
  }

  .logo {
    margin: 0 auto;
  }

  nav {
    margin: auto;
  }

  nav ul li a {
    margin: 10px;
    font-size: 0.8em;
  }

  .personal {
    margin: 50px;
  }

  .personal h2 {
    margin: 50px 0 0;
  }
}